@model Infraestructura.InfraestructuraCompania

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label id="ID" type="text" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_CONT)
        </dd>

        <dt>
            <label id="NOMBRE" type="text" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_NOMBRE)
        </dd>

        <dt>
            <label id="NIT" type="text" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_NIT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.COM_CONT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
