@model IEnumerable<Infraestructura.InfraestructuraCompania>

@{
    ViewBag.Title = "Index";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Crear compañia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COM_CONT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COM_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COM_NIT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td >
            @Html.DisplayFor(modelItem => item.COM_CONT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COM_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COM_NIT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.COM_CONT }) 
            @Html.ActionLink("Details", "Details", new { id=item.COM_CONT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COM_CONT  })
        </td>
    </tr>
}

</table>
